body {
    background: #9ac9f5;
    margin: 0;
    border: 0;
    padding: 0;
}
div.main {
    padding: inherit;
    border: inherit;
    margin: inherit;
    position: relative;
}
div.main > * {
    width: 60vmax;
    max-width: 95vw;
    margin: auto;
}
