* {
  box-sizing: border-box;
}

body {
  background: transparent;
  align-content: center;
  
}

header
{
  background: lightblue;
}
#pixel-logo {
  box-align:left;
  padding: 10px;
}

.baby-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.cloud-banner {
  margin-left: auto;
  margin-right: auto;
  display: block;
}


/* table */
.baby-name-table {
  text-align:left;
  margin-left: auto;
  margin-right: auto;
  border-collapse: collapse;
}
.baby-name-table th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.baby-name-table tr th,tr td{
  padding-right: 100px;
}
.baby-name-table tr th {
border-top: 4px solid gray;
border-bottom: 1px solid black;
padding:10px 100px 10px 0px;
}
.baby-name-table tr td{
  border-bottom: 1px solid gray;
}

/* Banner */
.banner{
  display: grid;
  padding-left: auto ;
  grid-template-columns: 50% 50%;
  background-color: lightblue;
}

/* footer */
.leftfooter {
  left: 0px;
  width: 50%;
  position: absolute;
}

.rightfooter {
  right: 0px;
  width: 50%;
  position: absolute;
}

.footerlogo {
  position: relative;
  display: inline-block;
}

.footerlogo .footerlogohover {
  position: absolute;
  display: none;
}

.footerlogo:hover .footerlogohover {
  display: inline;
}