body {
  background: transparent;
  align-content: center;
  
}
#pixel-logo {
  background-color: aqua ;
  box-align:left;
  padding: 10px;
}

#baby-logo {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.baby-name-table {
  text-align:left;
  margin-left: auto;
  margin-right: auto;
}

.baby-name-table th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.facebook {
  background-image: src("assets/images/ic-facebook-inactive-24.png") no-repeat;
  display: inline-block;
}

.facebook:hover {
  background-image: src("assets/images/ic-facebook-active-24.png") no-repeat;
}

.linkedin {
  background-image: src("assets/images/ic-linkedin-inactive-24.png.png") no-repeat;
  display: inline-block;
}

.linkedin:hover {
  background-image: src("assets/images/ic-linkedin-active-24.png") no-repeat;
}

.twitter {
  background-image: src("assets/images/ic-twitter-inactive-24.png") no-repeat;
  display: inline-block;
}

.twitter:hover {
  background-image: src("assets/images/ic-twitter-active-24.png") no-repeat;
}