header.top {
    margin-top: 1%;
    width: 80vmax;
}
header img {
    max-width: 100%;
}
header > .logo_left img {
    width: 15vmax;
}
header > .banner img {
    margin: auto;
    display: block;
    width: 25vmax;
}
.spacer.top {
    width: 100%;
    max-width: 100%;
    background: url(../images/cloud-banner.png) repeat-x bottom;
    background-size: cover;
    height: 15vw;
}
